* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }

.con {
    background: linear-gradient(#eceffe, #ced6fb);
}
body{
    color: rgb(17, 17, 18);
}
.context {
    display: flex;
    flex-direction: column;
}
.context h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 11%;
    font-family: "Playwrite IN", serif;
    font-weight: 700;
  font-optical-sizing: auto;
  color: #728fb8;
}

.context h2 {
    display: flex;
    justify-content: center;
     /* Removes space between h2 and h1 */
}
.context img {
    margin: 10% 25%;
    width: 50%;
    border-radius: 100%;
}
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 40px;

  
}
.intro img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  
}
.intro p{
  font-size: 1.2rem;
  width: 300px;
  margin: 30px;
  display: block;
}
.contain{
background-color: rgba(203, 170, 170, 0.495);
border-radius: 200px 200px 10px 10px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
flex-direction: column;
text-align: center;
}
#Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  #Skills img {
    max-width: 600px;
    margin-bottom: 60px;
    
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .seg1, .seg2 {
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: rgba(239, 176, 121, 0.358);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .seg2 {
    background-color: rgb(239, 203, 249);
  }
 h3{
    color: #4e5ed2;
}
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    margin: 10px 0;
  }
  .single{
    display: flex;
  }
  .double{
    display: flex;
    align-items: center;
    margin: 150px 0 0 100px;
    
  }
  @media (max-width:640px) {
    .single{
      display: block;
    }
    
  }
  span{
    color: #728fb8;
    font-weight: bold;
  }